.container{
    width: 100%;
    height: 100%;
}

.bar-top{
    display: flex;
    height: 3em;
    border-top-right-radius: 0.5em;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--primary-color);
}

.bar-bottom{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    min-height: 10em;
    height: auto;
    border-bottom-right-radius: 2em;
    padding-right: 1.5em;
    padding-left: 5%;
}

.text-bar-top {
    font-weight: bold;
    color: var(--text-light);
    font-size: 1.5em;
    margin-right: 1em;
}

.frame{
    border: 2px solid white;
    border-radius: 0.5em;
}

@media (max-width: 1600px){
    .bar-bottom{
        height: auto;
        padding: 1em;
    }
}