:host{
    display: flex;
    width: 50%;
    height: 6em;
    position: relative;
    align-items: center;
    background-color: aliceblue;
    padding: 0.5em;
}

.btn-select{
    display: flex;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: bisque;
    margin-left: -1.5em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-select-center{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: white;
}

.text{
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: justify;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--text-dark);
}

@media (max-width: 900px){
    :host{
        width: 90%;
        height: auto;
    }
}

@media (min-width: 900px) and (max-width: 1080px){
    :host{
        width: 60%;
        height: auto;
    }
}