.container{
    width: 60%;
    height: 100%;
}

.bar-top{
    display: flex;
    height: 3em;
    border-top-right-radius: 0.5em;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--primary-color);
}

.bar-bottom{
    display: flex;
    height: 10em;
    border-bottom-right-radius: 2em;
    align-items: center;
    justify-content: flex-end;
}

.text-bar-top {
    font-weight: bold;
    color: var(--text-light);
    font-size: 2em;
    margin-right: 1em;
}

.text-bar-bottom{
    width: 15em;
    font-weight: bold;
    color: var(--text-dark);
    font-size: 2.5em;
    margin-right: 1em;
    text-align: right;
}

@media (max-width: 500px){
    .bar-bottom{
        min-height: 10em;
        height: auto;
    }
}

@media (max-width: 1023px){
    .container{
        width: 90%;
        height: auto;
    }
}