:host{
    position: absolute;
    right: 4%;
    bottom: 7em;
    height: 3.5em;
    width: 12em;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    background-image: url('src/assets/play/btn-next.png');
}

@media (max-height: 767px){
    :host{
        display: block;
        position: relative;
        margin-left: auto;
        margin-top: -4em;
    }
}

@media (min-width: 865px) and (max-width: 1024px) and (min-height: 768px){
    :host{
        display: block;
        position: relative;
        margin-left: auto;
        margin-top: -4em;
    }
}