:host{
    --primary-color: #2b4d8b;
    --text-light: white;
    --text-dark: black;
}

@keyframes pulse-scale {
    0% { transform: scale(1); }
    50% {  transform: scale(0.9);}
    100% { transform: scale(1); }
}