
.container{
    position: absolute;
    width: 15em;
    height: 3.5em;
    right: 1em;
    bottom: 12em;
    margin-right: -1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

span{
    padding-left: 2em;
    padding-right: 1em;
    color: var(--text-dark);
}

@media (min-width: 0px) and (max-width: 600px) {
    .container{
        bottom: 10em;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .container{
        bottom: 10em;
    }
}

@media (max-width: 900px) and (max-height: 785px){
    .container{
        position: relative;
        margin-top: 11em;
        margin-left: auto;
    }
}