
.container{
    position: absolute;
    width: 15em;
    height: 4em;
    right: 1em;
    bottom: 12em;
    margin-right: -1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

span{
    padding-left: 2em;
    padding-right: 1em;
    color: var(--text-dark);
}

@media (max-height: 767px){
    .container{
        position: relative;
        margin-top: 13em;
        margin-left: auto;
    }
}

@media (min-width: 865px) and (max-width: 1024px) and (min-height: 768px){
    .container{
        position: relative;
        margin-top: 13em;
        margin-left: auto;
    }
}