
.container{
    position: absolute;
    width: 15em;
    height: 3.5em;
    right: 1em;
    bottom: 12em;
    margin-right: -1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

span{
    padding-left: 2em;
    padding-right: 1em;
    color: var(--text-dark);
}