/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px !important;
}

@media (max-width: 1150px) { 
    html { 
        zoom: 95%; 
    } 
}

@media (max-width: 1000px) { 
    html { 
        zoom: 90%; 
    } 
}

@media (max-width: 950px) { 
    html { 
        zoom: 80%; 
    } 
}

@media(min-width: 1200px) and (min-height: 1080px)  {
    html { 
        zoom: 120%;
    } 
}

@media(min-width: 2550px) and (min-height: 1440px)  {
    html { 
        zoom: 150%;
    } 
}