div{
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    display: table;
}

.content{
    width: 30em;
    display: table-cell;
    vertical-align: middle;
}

.logo{
    width: 30em;
    height: 30em;
    margin: auto;
    background-color: white;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-size: 100% 100%;  
    background-image: url('src/assets/play/logo.png');
}

.btn{
    width: 25em;
    height: 3em;
    background-color: #bec023;
    margin: auto;
    margin-top: 2em;
    border-radius: 1em;
    display: table;
    cursor: pointer;
}

span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: var(--text-light);
    font-size: 2em;
}

.info{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;

    background-repeat: no-repeat;
    background-size: 100% 100%;  
    background-image: url('src/assets/home/info.svg');
}